.container-clients{
    .auto-margin{
        margin-left: 40px;
        .breadcrumb{
            margin-top: 20px;
            button{
                float: right;
                margin-right: 40px;
                color: white;
                border-radius: 10px;
                background-color: #00beff;
                border: none;
                font-size: 20px;
                width: 170px;
                height: 50px;
            }
        }
        .container-card{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            >div{
                width: 400px;
                margin-top: 40px;
                margin-right: 40px;
                .card-content{
                    margin: 0;
                    text-align: center;
                    .f-r{
                        float: right;
                    }
                    .im-avatar{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                       
                    }
                    .ceo{
                        opacity: 0.6;
                    }
                .btn{
                    font-size: 17px;
                    margin-top: 10px;
                    padding:6px;
                    width: 110px;
                }
                .btn-message{
                    margin-right: 15px;
                }
                }
            }
        }
    }
}